@import "tailwindcss";

@theme {
  --color-primary: #1cb0f6;
  --color-secondary: #ff4b4b;
  --color-background: #ffffff;
  --color-surface: #f7f7f7;
  --color-text: #4b4b4b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
